<div class="cls-container-programas p-3 mb-5">
  <div class="d-flex flex-wrap">
    <div *ngFor="let programa of listaProgramasOferta" class="card p-2 m-2">
      <img src="{{ programa.imagen }}" class="card-img-top" alt="img" />
      <div class="card-body">
        <h5 class="card-title">{{ programa.nombre }}</h5>
        <p class="card-text">{{ programa.descripcion }}</p>
        <div>
          <span>{{ programa.tipo }}</span>
          <a href="#" class="btn btn-primary">Inscribirse</a>
        </div>
      </div>
    </div>
  </div>
</div>
