.card {
    width: 21.5rem;
}

.card-img-top {
    width: 320px;
    height: 250px;
}

.cls-container-programas {
    a {
        position: absolute;
        right: 15px;
    }
    span {
        color: rgb(177, 25, 25);
        font-size: large;
    }
}