<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="card m-4 rounded-3 shadow-sm border-primary cls-tarjetas d-flex flex-row">
        <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Usuarios</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">Administración de programas</h5>
            <p class="card-text">Si necesitas agregar, modificar, eliminar o buscar programas académicos ingresa a este apartado.
            </p>
            <button type="button" class="w-100 btn btn-lg btn-primary" (click)="routeAdminProgramas()">Administrar</button>
        </div>
    </div>

    <div class="card m-4 rounded-3 shadow-sm border-primary cls-tarjetas d-flex flex-row">
        <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Programas académicos</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">Administración de usuarios</h5>
            <p class="card-text">Si necesitas agregar, modificar, eliminar o buscar usuarios ingresa a este apartado.
            </p>
            <button type="button" class="w-100 btn btn-lg btn-primary" (click)="routeAdminProgramas()">Administrar</button>
        </div>
    </div>
</div>