.cls-header{
    nav {
        background: #318AB5 !important;
        color: white;
    }
}

.cls-footer{
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;

    footer{
        background: #318AB5 !important;
        color: white;
    }
}