.cls-header{
    nav {
        background: #318AB5 !important;
        color: white;
    }
}

.cls-footer{
    

    footer{
        background: #318AB5 !important;
        color: white;
        position: fixed;
        width: 100%;
        bottom: 0;
    }

    ul {
        margin-right: 10px;
    }
}