.cls-boton-crud {
    width: 150px;
    height: 40px;
}

.cls-select-filtro {
    width: 150px;
}

.cls-form {
    align-items: center;
}

.cls-boton-guardar {
    position: relative;
    top: 8px;
}

.cls-section-usuario {
    position: relative;
}

.cls-buscar {
    position: absolute;
    right: 0;
    width: 300px;
}