<div class="p-5">

    <section class="mb-3">
        <h2>Bienvenido a la administración de usuarios</h2>
    </section>
    <section class="mb-3">
        <tr>
            <td><button type="button" class="btn btn-warning me-2">Crear usuario</button></td>
        </tr>
    </section>
    <section>
        <table class="table table-hover">
            <thead>
                <td>Nombre</td>
                <td>Correo</td>
                <td>Acciones</td>
            </thead>
            <tbody>
                <tr>
                    <td>Juan</td>
                    <td>juan@gmail.com</td>
                    <td><button type="button" class="btn btn-primary me-2">Editar</button>
                        <button type="button" class="btn btn-primary">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>