<div class="p-5">

    <section class="mb-3 d-flex flex-row cls-section-usuario">

        <button type="button" (click)="iniciarCreacion()" class="btn btn-primary me-2 cls-boton-crud">Crear
            usuario</button>
        <select class="form-select cls-select-filtro" [(ngModel)]="selectTipoUsuario" aria-placeholder="Tipo de usuario">
            <option [value]="tipo.codigo" *ngFor="let tipo of tipoUsuario">
                {{tipo.texto}}
            </option>
        </select>
        <div class="cls-buscar">
            <input type="text" class="form-control" name="" id="" placeholder="Buscar">

        </div>
    </section>

    <section class="mb-4" *ngIf="nuevoUsuario">
        <form [formGroup]="formUsuario" class="d-flex flex-wrap cls-form">
            <div class="mb-3 me-3">
                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 me-3">
                <label for="exampleInputEmail1" class="form-label">Correo</label>
                <input type="email" class="form-control" formControlName="correo" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 me-3">
                <label for="exampleInputEmail1" class="form-label">Identificación</label>
                <input type="text" class="form-control" formControlName="identificacion" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 me-3">
                <label for="exampleInputEmail1" class="form-label">Dirección</label>
                <input type="text" class="form-control" formControlName="direccion" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 me-3">
                <label for="exampleInputEmail1" class="form-label">Telefono</label>
                <input type="tel" class="form-control" formControlName="telefono" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 me-3">
                <label for="exampleInputEmail1" class="form-label">Fecha de nacimiento</label>
                <input type="datetime" class="form-control" formControlName="fechaNacimiento" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 me-3">
                <label for="exampleInputEmail1" class="form-label">Código</label>
                <input type="text" class="form-control" formControlName="codigo" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 me-3">
                <label for="exampleInputEmail1" class="form-label">Fecha registro</label>
                <input type="datetime" class="form-control" formControlName="fechaRegistro" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 me-3">
                <label for="exampleInputEmail1" class="form-label">Rol</label>
                <input type="text" class="form-control" formControlName="rolId" aria-describedby="emailHelp">
            </div>
            <button *ngIf="modoCrud == 'adicion'" [disabled]="!formUsuario.valid" type="submit" class="btn btn-primary cls-boton-crud cls-boton-guardar" (click)="crearUsuario()"><i
                    class="fa fa-user-plus"></i>
                Crear</button>
            <button *ngIf="modoCrud == 'edicion'" [disabled]="!formUsuario.valid" type="submit" class="btn btn-danger cls-boton-crud cls-boton-guardar" (click)="editarUsuario()"><i
                    class="fa fa-edit"></i>
                Guardar</button>
        </form>
    </section>

    <section>
        <table class="table table-hover">
            <thead>
                <td>Nombre</td>
                <td>Tipo</td>
                <td>Identificación</td>
                <td>Correo</td>
                <td>Acciones</td>
            </thead>
            <tbody>
                <tr *ngFor="let u of listaUsuarios">
                    <td>{{u.nombre}}</td>
                    <td>{{u.tipo}}</td>
                    <td>{{u.identificacion}}</td>
                    <td>{{u.correo}}</td>
                    <td><button type="button" class="btn btn-outline-primary me-2" (click)="iniciarEdicion(u)">Editar</button>
                        <button type="button" class="btn btn-outline-danger me-2" (click)="eliminarUsuario(u.id)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>